<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document

body
	h1.test#qq 什么
	a(href="http://baidu.com") 百度
	img(src="/images/miaomiao.jpg", alt="")
	img(src="/images/miaomiao.jpg", alt="")
	script(src="script/index.js")