<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	form(action="/checklogin" method="post")
		input(type="text",name="username")
		input(type="password",name="password")
		input(type="submit")

	